nav{
    display:  flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
nav a{
    text-decoration: none;
    width: 50px;
    display: flex;
    justify-content: center;
}
nav h2{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}
nav a:hover{
    border-bottom: solid 1px;
}
@media (max-width: 875px) {
    nav ul{
        gap: 20px;
    }
}
@media (max-width: 340px) {
    nav ul{
        gap: 5px;
    }
}